* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #7bd159;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.sidebar-header>p {
    font-size: 30px;
}


p {
    color: black;
}

.sidebar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #EDFFE6;
    transition: width 0.4s;
}

.sidebar.open {
    width: 260px;
}

.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
}


.sidebar-header {
    display: flex;
    align-items: center;
    height: 82px;
    background: rgb(0 0 0 / 15%);

}

.sidebar-burger {
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
}

.sidebar-logo {
    height: 28px;
}

.sidebar-menu {
    display: grid;
    padding: 10px;
}

.sidebar-button {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0 10px;
    border-radius: 10px;
}

.sidebar-button:hover {
    background: rgba(26, 131, 5, 0.3);
    opacity: 1;
}

.sidebar-button:hover>span {
    opacity: 1;
}

.sidebar-logo,
.sidebar-button p {
    opacity: 0;
    transition: 0.3s;
}

.sidebar.open :is(.sidebar-button p, .sidebar-logo) {
    opacity: 1;
}

.sidebar-button>img {
    width: 24px;
    height: 24px;
}

.sidebar-button>span {
    opacity: 0.5;
}