html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   background-color: #7BD159;
   display: grid;
   place-items: center;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.Header {
   overflow: hidden;
   justify-content: center;
   display: flex;
   align-items: center;
   background-color: rebeccapurple;
}

.Login {
   width: 500px;
   height: 500px;
   align-items: center;
   background-color: red;
}
