html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #7BD159;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.Tela_Login {
    margin: 0 auto;
    display: grid;
    /*Transformar em um grid, para melhor manipular os componentes*/
    justify-content: center;
    /*Atribuir componentes ao centro*/
    max-width: 1000px;
    /*maximo de espaço para essa div*/
    grid-template-columns: 200px;
    /*Para atribuir tamanho das colunas em um grid*/
    margin-top: 150px;
    /*para descolar do grid*/
    border-radius: 20px;
    /*Arredondar as bordas*/
    background-color: #EDFFE6;
}

.Tela_Login>.Components>.Header_Tela_Login {
    font-size: 30px;
    /*Definir o tamanho dos caracteres*/
    text-align: center;
    justify-content: center;
    align-items: center;
    /* Alinhar os caracteres no centro*/
}

.Tela_Login>.Components {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Tela_Login>.Components>.Main_Tela_Login>.Button_Login {
    background-color: #7BD159;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    display: flex;
    /*inline*/
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.Tela_Login>.Components>.Main_Tela_Login>.Button_Login::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #319e2d;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.Tela_Login>.Components>.Main_Tela_Login>.Button_Login:hover::before {
    transform: scaleX(1);
}

.Tela_Login>.Components>.Main_Tela_Login>input {
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.Tela_Login>.Components>.Main_Tela_Login>.Entrar_Sem_Acesso {
    font-size: 15px;
    /*Definir o tamanho dos caracteres*/
    align-items: center;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #319e2d;
    margin-top: 15px;
}